<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Ticker Lookup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header>
        <h1 class="glance">Stock Glance</h1>
    </header>
    <section class="section">
       
        <div class="container glass-box">
            <h2 class="title is-2 has-text-centered glass-text">Stock Ticker Lookup</h2>
            <div class="field">
                <div class="flexer">
                <p class="control has-icons-left">
                        <div class="search-bar"> 
                            <input type="text" id="ticker-input" class="input" placeholder="Enter stock ticker" autocomplete="on">
                            <span class="icon is-small">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </p>
                    <button id="submit-btn" class="button is-primary">Submit</button>
                </div>
            </div>
            <div id="stock-chart" class="mt-5"></div>
        </div>
    </section>
</body>
</html>
